 <widget id="A6071346607297"  version="0.0.1">

    <name>HelloApp</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="index.html" />

    <access origin="*" />

    <preference name="pageBounce" value="false"/>

	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

	<preference name="hScrollBarEnabled" value="false"/>

	<preference name="vScrollBarEnabled" value="false"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="true" />

	<preference name="smartUpdate" value="true" />

	<preference name="debug" value="true"/>

	<preference name="statusBarAppearance" value="true"/>

	<permission name="readPhoneState" />

	<permission name="camera" />

	<permission name="record" />

	<permission name="location" />

	<permission name="fileSystem" />

	<permission name="internet" />

	<permission name="bootCompleted" />

	<permission name="hardware" />

	<preference name="urlScheme" value="xibaozhimi" />

	<feature name="wx">
		<param name="urlScheme" value="wx5ebbf0c30f8fd02f"/>
		<param name="apiKey" value="wx5ebbf0c30f8fd02f"/>
		<param name="apiSecret" value="1a5fd1b4219d8d70689c14db3eaf46ca"/>
	</feature>
	<feature name="wxPay">
		<param name="urlScheme" value="wx5ebbf0c30f8fd02f"/>
		<param name="apiKey" value="wx5ebbf0c30f8fd02f"/>
		<param name="apiSecret" value="1a5fd1b4219d8d70689c14db3eaf46ca"/>
	</feature>
	<feature name="aliPayPlus">
        <param name="urlScheme" value="AliPayA6050325404548" />
    </feature>
</widget>

